
@{
    ViewData["Title"] = "Error";
}

<div class="row justify-content-center">

    <h1 class="text-center">Algo salió mal, no pudimos ejecutar la acción requerida.</h1>

    <h1 class="text-danger">@ViewBag.MensajeError</h1>

    <i class="bi bi-emoji-frown text-center" style="font-size: 200px;"></i>

    <a asp-action="Index" asp-controller="Home" class="btn btn-success">Ir al inicio</a>

</div>