
@{
    ViewData["Title"] = "Acceso Denegado";
}

<div class="row justify-content-center">

    <h1 class="text-center text-danger mt-4">Acceso denegado.</h1>

    <i class="bi bi-shield-slash-fill my-4 text-center text-danger" style="font-size: 200px"></i>

    <h1 class="text-center ">No tienes permiso para esta acción.</h1>

    <a asp-action="Index" asp-controller="Home" class="btn btn-success mt-4">Volver al inicio</a>
</div>