
@{
    ViewData["Title"] = "Contraseña Reestablecida";
}

<div class="row justify-content-center">

    <i class="bi bi-check-circle text-center text-success" style="font-size: 200px;"></i>

    <h1 class="text-center">Hemos reestablecido tu contraseña con éxito.</h1>

    <a class="btn btn-success text-center mt-4" asp-action="Login" asp-controller="Cuenta">Iniciar sesión</a>

</div>
