
@{
    ViewData["Title"] = "Confirmar Correo";
}

<h1>Hemos confirmado tu cuenta con exito. Te recomendamos que cambies tu contraseña por una que tu puedas recordar.</h1>

<div class="row justify-content-center mt-5">

    <div class="col-4">
        <a asp-action="Login" asp-controller="Cuenta" class="btn btn-primary">Iniciar sesión</a>
    </div>
    
    <div class="col-4">
        <a asp-action="CambiarContrasenia" asp-controller="Cuenta" class="btn btn-success">Cambiar contraseña</a>
    </div>
    
</div>


