
@{
    ViewData["Title"] = "Confirmacion Contraseña Olvidada";
}

<div class="row justify-content-center">
    <i class="bi bi-send-fill my-3 text-center" style="font-size: 200px"></i>

    <h3 class="text-center">Te hemos envíado un mensaje al correo @ViewBag.Correo para que reestablezcas la contraseña.</h3>
    <br />
    <h3 class="text-center"><strong>Revisa tu bandeja de spam si no ves el correo en tu bandeja de entrada</strong></h3>
</div>
