
@{
    ViewData["Title"] = "Registro exitoso";
}


<h1>Se ha registrado al usuario @ViewBag.Nombre @ViewBag.PrimerApellido @ViewBag.SegundoApellido exitosamente.</h1>

<a asp-action="Index" asp-controller="Home" class="btn btn-success">Ir al inicio</a>