@model IdentityTemplate.ViewModels.VariablesSeguimiento.PoliticaBaseViewModel


@{
    ViewData["Title"] = "Crear Politica";
}

<h1>Añadir Política, Eje Temático, Linéa Estrategíca o Acción</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#politica" type="button" role="tab" aria-controls="politica" aria-selected="true">Política</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#eje-tematico" type="button" role="tab" aria-controls="eje-tematico" aria-selected="false">Eje Temático</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#linea-estrategica" type="button" role="tab" aria-controls="linea-estrategica" aria-selected="false">Línea Estrategíca</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#accion" type="button" role="tab" aria-controls="accion" aria-selected="false">Acción</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="politica" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

      <div class="card card-body">
        <partial name="~/Views/Parciales/_Politica.cshtml" />
      </div>
  </div>

  <div class="tab-pane fade" id="eje-tematico" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">

      <div class="card card-body">
        <partial name="~/Views/Parciales/_EjeTematico.cshtml" />
      </div>
  </div>
  <div class="tab-pane fade" id="linea-estrategica" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
      <div class="card card-body">
        <partial name="~/Views/Parciales/_LineaEstrategica.cshtml" />
      </div>
  </div>
  <div class="tab-pane fade" id="accion" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">
      <div class="card card-body">
        <partial name="~/Views/Parciales/_Accion.cshtml" />
      </div>
  </div>
</div>

<div class="collapse" id="politica">
  
  
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
