@model IdentityTemplate.Models.Catalogos.Politica


@{
    ViewData["Title"] = "Crear Politica";
}

<h1>Añadir Política o Acción</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>


<form asp-action="Crear" asp-controller="Politica" method="post">

    <div class="row">
        <div class="col-12 mb-3">
            <label class="form-label" asp-for="NombrePolitica"></label>
            <input type="text" class="form-control" asp-for="NombrePolitica">
            <span asp-validation-for="NombrePolitica" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Crear</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>

</form>