@model IEnumerable<IdentityTemplate.Models.Catalogos.Politica>

@{
    ViewData["Title"] = "Politicas";
}


<h1>Politicas</h1>

<a class="btn btn-primary my-4" asp-action="Crear" asp-controller="Politica">Crear</a>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    
      @foreach(var politica in Model)
      {
        <tr>
          <th scope="row">@politica.PoliticaId</th>
          <td>@politica.NombrePolitica</td>
          <td>
              <a class="btn btn-primary" asp-action="Editar" asp-controller="Politica" asp-route-id="@politica.PoliticaId">
                  <i class="bi bi-pencil-square"></i>
              </a>

              <a class="btn btn-danger" asp-action="Borrar" asp-controller="Politica" asp-route-id="@politica.PoliticaId">
                  <i class="bi bi-trash-fill"></i>
              </a>
          </td>
        </tr>
      }

  </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
